streamlit
streamlit-autorefresh
yfinance
pandas
numpy
scipy
altair
pydrive2
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
streamlit-autorefresh
requests
matplotlib
google-generativeai
pyarrow
openai
